body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-box{

    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/homeimage1.png); 
    background-size: cover; 
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.form-box{
    width: 400px;
    height: 350px;
    position: absolute;
    margin: 2% 2%;
    background:#ffff;
    padding: 10px;
    overflow: hidden;
    background-color: white;
}
.detail-box{
    width: 1000px;
    height: 690px;
    background:#ffff;
    background-color: ivory;
    float:right;
    margin: 2% 2% 0 100%;
    padding: 10px;
    
}
.tracklogo{
    margin: 10px auto;
    text-align: center;

    
}
.tracklogo img{
    width: 200px;
    height:50px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 30%;
   
}
.btn-box{
    width: 220px;
    margin: 12px 87px;
    position: relative;
    box-shadow: 0 0 20px 9px#ff61241f;
    border-radius: 30px;
}

.switch-btn{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .20s;
    outline: none;
}
.input-group{
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-group-2{
    position: absolute;
    width: 382px;
    transition: .5s;
    margin: -200px 0px;
}
.text{
    margin:5px 0;
    padding: 5px 0;
    font-weight: 500;
}
.input-field{
     width: 76%;
    padding: 5px 7px;
    margin: 14px 0px;
    border: 0 0 1px solid #999 0;
    outline: none;
    background: transparent;
}
.search-btn{
    width: 39%;
    padding: 6px 13px;
    cursor: pointer;
    display: block;
    margin: 8px 64px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    outline: none;
    border-radius: 30px;
    

}

span{
    color: #777;
    font-size: 15px;
    font-weight: bold;
    margin:119px 10px 30px 20px ;
    position: absolute;
}

#waybill{
    left: 50px;
}
#refno{
    left: 450px;
}

.message-box p{
    margin: 5px 30%;
    color: white;
    font-size: medium;
    font-weight: bold;
    display: inline-block;

}
.message-box {
    background-color:black;
    margin: 5px 4px;
    padding: 5px auto;
    /* position: absolute; */
    border-radius: 10px;
}
.info-box{
    border-radius: 10px;
    height: 190px;
    margin:5px 4px;
    background-color: white;
}
.location-box{
    border-radius: 10px;
    height: 345px;
    margin:10px 4px;
    background-color: white;
}
.location-box >p {
    display: inline-block;
    margin: 2px 2px 2px 2px ;
    color: black;
}
.map-box{

    float: left;
    position: absolute;
    margin: 400px 30px;
    
}
table,th,td{
    margin: 0px auto;
    width: 8%;
    border-collapse: collapse;
    text-align: center;
}

tr:nth-child(even){
    background-color: white;
}
th{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.error{
    margin:5px 0;
    padding: 5px 0;
    font-weight: 300;
    color: red;
}