
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call Us</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    {% include 'header.html'%}
   
    <div class="image">
        <img  src="{% static 'images/courier1.png' %}" width ="600px" height="300px">
    </div>

<div class="locations">
    <h3>Here is the list of our all service centre...Feel free to call</h3>
    <h5>Disclaimer:: </h5>
    <marquee  behavior="scroll" direction="left">
    <p>In case your query is not resolved, just contact to our customer support care Or you can visit to our centre at any time..Thank you for using our service </p>
    </marquee>
    <div >
        <h4>1. Rishikesh</h4>
        <table class="tables">
            <thead>
                <tr>
                   <th>Address: </th>
                   <td> Dhalwala, ward no 10, Rishikesh</td>
                </tr>
                <tr>
                    <th>Location: </th>
                    <td>Rishikesh</td>
                </tr>
                <tr>
                    <th>Pincode: </th>
                    <td>249201</td>    
                </tr>
                
                <tr>
                    <th>Phone:</th>
                    <td>+91-7060628168</td>
                </tr>

                <tr>
                    <th>Email:</th>
                    <td>contactus_rishikesh@LiveTrack.in</td>
                </tr>


            </thead>
        </table>
    </div>
    
    <div>
        <h4>2. Dehradun</h4>
        <table class="tables">
            <thead>
                <tr>
                   <th>Address: </th>
                   <td> ClementTown, bell road, dehradun</td>
                </tr>
                <tr>
                    <th>Location: </th>
                    <td>Dehradun</td>
                </tr>
                <tr>
                    <th>Pincode: </th>
                    <td>249100</td>    
                </tr>
                
                <tr>
                    <th>Phone:</th>
                    <td>+91-7060628168/1235-0012256</td>
                </tr>

                <tr>
                    <th>Email:</th>
                    <td>contactus_dehradun@LiveTrack.in</td>
                </tr>


            </thead>
        </table>
    </div>
 <div>
        <h4>3. New Delhi</h4>
        <table class="tables">
            <thead>
                <tr>
                   <th>Address: </th>
                   <td> jarodha, gali no 12, 1st floor</td>
                </tr>
                <tr>
                    <th>Location: </th>
                    <td>New Delhi</td>
                </tr>
                <tr>
                    <th>Pincode: </th>
                    <td>2491008</td>    
                </tr>
                
                <tr>
                    <th>Phone:</th>
                    <td>+91-7060628168</td>
                </tr>

                <tr>
                    <th>Email:</th>
                    <td>contactus_newdelhi@LiveTrack.in</td>
                </tr>


            </thead>
        </table>
    </div>
    
    
 <div>
        <h4>4. Haldwani</h4>
        <table class="tables">
            <thead>
                <tr>
                   <th>Address: </th>
                   <td> Haldwani, near Graphic era era hill university</td>
                </tr>
                <tr>
                    <th>Location: </th>
                    <td>Haldwani</td>
                </tr>
                <tr>
                    <th>Pincode: </th>
                    <td>249201</td>    
                </tr>
                
                <tr>
                    <th>Phone:</th>
                    <td>+91-7060628168</td>
                </tr>

                <tr>
                    <th>Email:</th>
                    <td>contactus_haldwani@LiveTrack.in</td>
                </tr>


            </thead>
        </table>
    </div>
    
</div>

{% include 'footer.html'%}




</body>

</html>