  
  
  {% load static %}
  <footer>

            <div class=Footer>
            
                <div>
                    <p class="websitetitle">@LiveTrack.in</p>
                </div>
                
                <div >
                    <p class="footercontent">
                    Contact Labour Act  | Terms and Conditons  | Privacy Policy  | Cookie Policy  | CSR Policy |EEO Policy
                    <a href="https://www.facebook.com"><img src="{% static 'images/fb.png'%}" alt="fb" width="30px" height="30px"></a>
                    <a href="https://www.instagram.com/accounts/login"><img src="{% static 'images/insta.png'%}" alt="insta" width="30px" height="30px"></a>
                    <a href="https://www.youtube.com/index"><img src="{% static 'images/youtube.png'%}" alt="youtube" width="30px" height="30px"></a>
                    <a href="https://twitter.com"><img src="{% static 'images/twitter.png'%}" alt="twitter" width="30px" height="30px"></a>
                    </p>
                </div>

            </div>
    </footer>